/*below 2 styles are for the membership cards*/
.card	{
	background-color:white;
	margin: -40px 13px 70px	13px;
	padding: 30px 40px ;
	border-top: solid 5px #c3069f;
}


.card-home	{
	background-color:white;
	margin: 20px 13px 70px	13px;
	padding: 30px 40px ;
	border-top: solid 5px #c3069f;
}

.card-payment-homepage	{
	background-color:white;
	margin: 20px 13px 70px	13px;
	padding: 30px 40px ;
	border-top: solid 20px #c3069f;
}


.card-active {
	background-color: #DAD9DE;
	opacity: .9;
	margin: -40px 13px 70px	13px;
	padding: 30px 40px ;
	border: solid 9px #c3069f;
}

.card-white	{
	background-color:white;
	padding: 30px 40px ;
	border-top: solid 5px #c3069f;
	margin-bottom:20px;
}


.card-interests {
	color:black;
	background: white;
	border:1px solid black;
	font-family: 'Comfortaa', cursive !important;
  height: 38px !important;
  border-radius: 10px;
	padding: 9px 12px 6px 12px;
  width: 100%;
  font-size: 14px;
  vertical-align: baseline;
}
