html, body {
    overflow-x:hidden;
}

.label {
	font-weight: 300 !important;
}

.white {
	color:white;
}

.blue {
	color:#0990f7;
}

.purple {
 color: #c3069f;
}

.bold {
	font-weight: 700;
}

.label {
	margin-bottom: 50px !important;
}

.margin-bottom-30px {
	margin-bottom: 30px;
}

.margin-top {
	margin-top: 80px;
}

.margin-left	{
	margin-left: 43px;
}

.white-background {
	background-color: white;
}

.shadow {
	box-shadow: 2px 10px 50px -5px rgba(220,7,179, 0.8);
}

.boxes-container {
	margin: 50px 0px;
}
