#logo {
  height: 40px;
  margin:14px;
}

.navbar {
	height: 12vh;
	border-radius: 0px;
	font-family: 'Comfortaa', cursive;
	background: linear-gradient(45deg, #0990f7, #c3069f);
	font-size: 13px;
	margin-bottom: 0px;
  padding: 13px;
	vertical-align: baseline;
	letter-spacing:1px;
	text-align: right;
	border:0px !important;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-right {
	margin-top:10px;
  flex: 0 0 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item {
	margin: 20px;
}

.navbar a:visited {
	color:white;
  text-decoration: none;
}
.navbar-right a:hover{
	color: rgba(145,145,145,1);
  text-decoration: none;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}



/* Navbar link */
.navbar-cphux-link {
  color: #616668;
  font-size: 14px;
}
.navbar-cphux-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.navbar-cphux-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.navbar-cphux-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.navbar-cphux-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.navbar-cphux-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}




