.grey-div-delete {
	height: 500px;
	background-color:grey;
}
/*MMT*/

a.navbar-item {
    color: white !important;
}

.navbar-blind {
  margin-bottom: 83px;
}

/* Navbar right section (with form, links, button) */
.navbar-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item {
	font-family: 'Comfortaa', cursive;
  text-transform: uppercase;
	color:;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 2px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 40px 20px;
  line-height: 40px;
  color: #EF233C;
  transition: background-color .25s ease-in-out;
}

.navbar-item:hover{
  color: white;
  background-color: #EF233C;
  border-color: #ac2626;
  text-decoration: none;
}

.active-tab{
  color: white;
  background-color: #EF233C;
  border-color: #ac2626;
  text-decoration: none;
  line-height: 5px;
}

/*end of mmt*/

#logo {
	display: flex;
  height: 40px;
  margin:14px;
  display: inline;
}

.navbar {
	height: 12vh;
	border-radius: 0px;
	font-family: 'Comfortaa', cursive;
	background: linear-gradient(45deg, #0990f7, #c3069f);
	font-size: 13px;
	margin-bottom: 0px;
  padding: 13px;
	vertical-align: baseline;
	letter-spacing:1px;
	text-align: right;
	border:0px !important;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 40px;
}

.navbar-right {
	margin-top:10px;
  flex: 0 0 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-item {
/*	margin: 20px;
*/}

.navbar a:visited {
	color:white;
  text-decoration: none;
}
.navbar-right a:hover{
	color: rgba(145,145,145,1);
  text-decoration: none;
  -webkit-transition: background-color .25s ease-in-out;
  transition: background-color .25s ease-in-out;
}
