.sign-up-banner {
	height: 88vh;
  background-size: cover !important;
}

.banner-content {
  background-color: white;
	margin:50px 10px;
}

.signup-banner-text {
	margin-top: 50px;
	margin-left:0px;
}

.signup-form-box {
/*	margin:40px 40px 80px 40px;
*/	padding:24px 20px;
	background-color: white;
}



/*Overwriting of Bootsrap classes for the form fields*/
.form-control {
	font-family: 'Comfortaa', cursive !important;
  height: 38px !important;
  color: black !important;
  background-color: #DDE7F1 !important;
	border: 0px !important;
  border-radius: 10px !important;
  }

