h1 {
	font-family: 'Comfortaa' sans-serif;
	font-size: 40px
}

h2 {
	font-family: 'Comfortaa', sans-serif;
	font-size: 35px;
	color:black;
	margin:10px;
}

h3 {
	font-family: 'Comfortaa', sans-serif;
	font-size: 28px;
	margin-top: 11px !important;
	color:black;
}

h4 {
	font-family: 'Comfortaa', sans-serif;
	color:black;
}

h5 {
	font-family: 'Comfortaa', sans-serif;
	color:black;
}

p {
	font-family: 'Comfortaa', sans-serif;
	font-weight: 400;
	font-size: 13px;
}

.label {
	font-weight: 300 !important;
}

.white {
	color:white;
}

.blue {
	color:#0990f7;
}

.purple {
 color: #c3069f;
}

.bold {
	font-weight: 700;
}

.label {
	margin-bottom: 50px !important;
}

.margin-bottom-30px {
	margin-bottom: 30px;
}

a:link {
	text-decoration: none !important;
}
